<h1>Users index</h1>

<%@users.each do |user| %>
<%= user.name %> <br>
<%= user.story %> <br>
<%= user.address %> <br>
<%= link_to 'Update', edit_user_path(user), method: :get,
        data: { confirm: "Are you sure?" } %>

<% end %>
