<div class="img">
    <%= image_tag "me.jpg"%>
</div>
<div class="profile">
<% @users.each do |user| %>
<%= user.story %>
<% end %>
</div>
<div class="map">
  <div id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
