
<div class="page">
  <div class ="uppage">
  <%= render 'uppage'%>
  </div>
  <h2>Qui suis je ?</h2>
  <div id="whomi">
  <%= render 'whomi'%>
  </div>
  <h2>Mes Réalisations</h2>
  <div id="cards">
    <%= render 'cards' %>
  </div>
  <div id="contact">
    <%= render'contact' %>
  </div>
</div>
