#contact {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.form {
  width: 40%;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(#ffff,#FFE1BF);
  padding-bottom: 2%;
  padding-top: 2%;
}

.form input {
  text-align: center;
}
