
body {
  font-size: 1rem;
  font-family: 'Courgette', cursive;
  letter-spacing: 1px;
}

h2 {
  margin-left: 1.5rem;
}

.projects {
  height: 5rem;
}

.profiler-results {
  display: none;
}

.page {
  background:linear-gradient(#ffff,#FDFBF8,#FAF2EB,#F7EADD,#F4E1D0);
  background-size:cover;
}


//87a5ba
