
body {
  font-size: 1rem;
  font-family: 'Courgette', cursive;
  letter-spacing: 1px;
}

.projects {
  height: 5rem;
}

.profiler-results {
  display: none;
}
 .page {
background:linear-gradient(#ffff,#CBD1CE);
}
