#whomi{
  margin-top: 2rem;
  height:30%;
  display: flex;
  justify-content: space-between;
  margin: 1% 1%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#whomi img {
  height:15rem;
  border-radius: 50%;
  filter: drop-shadow(0 0 1rem #202020);
}
.profile {
  padding: 3rem;
  margin: 0 2rem;
  font-size: 1.2rem;
  text-align: center;
}

#map{
   width: 15rem;
   height: 15rem;
   border-radius:50%;
}
